@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components{
  .contactInput{
    @apply bg-green-50 text-lg p-3 outline-none rounded border-b-2 border-green-200 hover:border-green-600 focus:border-green-600 transition-all placeholder-opacity-50 placeholder-green-700
  }


}



* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


body{
  padding: 0;
  margin: 0;
  font-family:'Roboto', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  
}
.title{
  font-family:  Verdana, sans-serif;
  overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 2; 
    line-clamp: 2;
   -webkit-box-orient: vertical;
}